/* Colors */

// TUI Red
$tui-red-400: #800509;
$tui-red-200: #b50006;
$tui-red-100: #d40e14;
$tui-red-50: #e43c42;
$tui-red-25: #ee6e73;
$tui-red-25u: #f79da0;
$tui-red-50u: #fcc7c9;
$tui-red-100u: #ffeaea;

// TUI Blue
$tui-blue-1600: #0076b5;
$tui-blue-800: #048dcc;
$tui-blue-400: #10a0de;
$tui-blue-200: #2fb2eb;
$tui-blue-100: #70cbf4;
$tui-blue-50: #c2e6fa;
$tui-blue-25: #e2f3fe;
$tui-blue-25u: #f2f9ff;

// TUI Dark Blue
$tui-dark-200: #011333;
$tui-dark-100: #092a5e;
$tui-dark-50: #1e4785;
$tui-dark-25: #436da8;
$tui-dark-25u: #7197c9;
$tui-dark-50u: #a3c1e6;
$tui-dark-100u: #cde1f7;
$tui-dark-200u: #edf6ff;

// TUI Grey
$tui-black: #000000;
$tui-grey-200: #3f3f3f;
$tui-grey-100: #737373;
$tui-grey-75: #9b9b9b;
$tui-grey-50: #b9b9b9;
$tui-grey-38: #cdcdcd;
$tui-grey-25: #dcdcdc;
$tui-grey-25u: #e9e9e9;
$tui-grey-38u: #f5f5f5;
$tui-white: #ffffff;

// Color alias
$color-link: $tui-dark-100;
$color-border: #00000033;

// Z-index
$z-index: (
  header: 100,
  dropdown: 101,
  modal: 102
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

// Border radius
$border-radius: (
  base: 3px,
  extra: 5px
);
@function border-radius($key) {
  @return map-get($border-radius, $key);
}

// Shadow
$shadow: (
  level1: 0px 2px 5px rgba(#000, 0.2),
  level2: 0px 10px 20px rgba(#000, 0.15),
  level3: 0px 24px 48px rgba(#000, 0.15)
);

@function box-shadow($key) {
  @return map-get($shadow, $key);
}

$main-font: TUIType, 'Trebuchet MS';

// Font-family
$font-family: (
  main: $main-font
);

@function font-family($key) {
  @return map-get($font-family, $key);
}
