@import '_variables';

:root {
  // TUI Red
  --tui-red-400: #{$tui-red-400};
  --tui-red-200: #{$tui-red-200};
  --tui-red-100: #{$tui-red-100};
  --tui-red-50: #{$tui-red-50};
  --tui-red-25: #{$tui-red-25};
  --tui-red-25u: #{$tui-red-25u};
  --tui-red-50u: #{$tui-red-50u};
  --tui-red-100u: #{$tui-red-100u};

  // TUI Blue
  --tui-blue-1600: #{$tui-blue-1600};
  --tui-blue-800: #{$tui-blue-800};
  --tui-blue-400: #{$tui-blue-400};
  --tui-blue-200: #{$tui-blue-200};
  --tui-blue-100: #{$tui-blue-100};
  --tui-blue-50: #{$tui-blue-50};
  --tui-blue-25: #{$tui-blue-25};
  --tui-blue-25u: #{$tui-blue-25u};

  // TUI Dark Blue
  --tui-dark-200: #{$tui-dark-200};
  --tui-dark-100: #{$tui-dark-100};
  --tui-dark-50: #{$tui-dark-50};
  --tui-dark-25: #{$tui-dark-25};
  --tui-dark-25u: #{$tui-dark-25u};
  --tui-dark-50u: #{$tui-dark-50u};
  --tui-dark-100u: #{$tui-dark-100u};
  --tui-dark-200u: #{$tui-dark-200u};

  // TUI Grey
  --tui-black: #{$tui-black};
  --tui-grey-200: #{$tui-grey-200};
  --tui-grey-100: #{$tui-grey-100};
  --tui-grey-75: #{$tui-grey-75};
  --tui-grey-50: #{$tui-grey-50};
  --tui-grey-38: #{$tui-grey-38};
  --tui-grey-25: #{$tui-grey-25};
  --tui-grey-25u: #{$tui-grey-25u};
  --tui-grey-38u: #{$tui-grey-38u};
  --tui-white: #{$tui-white};

  --color-border: #{$color-border};
}

// Resets
html {
  font-family: font-family(main);
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  &:focus {
    outline: none;
  }
}

.container {
  width: 100%;
  max-width: 1648px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

.h1 {
  font-size: 56px;
  line-height: 53px;
  font-weight: 700;
  letter-spacing: -0.0125rem;
}

.h2 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
}

.h3 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
}

.h4 {
  font-size: 24px;
  line-height: 25.5px;
  font-weight: 700;
}

.h5 {
  font-size: 20px;
  line-height: 22.5px;
  font-weight: 700;
}

.h6 {
  font-size: 18px;
  line-height: 22.5px;
  font-weight: 700;
  letter-spacing: 0.0125rem;
}

.p {
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
}

.p2 {
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
}

.link {
  font-size: 20px;
  line-height: 27.5px;
  font-weight: 400;
  color: $tui-blue-800;
}

// Helpers
.d-flex {
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.justify-items-center {
  justify-items: center;
}

.justify-content-center {
  justify-content: center;
}
